@font-face {
  font-family: naruto;
  src: url(../font/njnaruto.ttf);
}

body {
  background-color: black;
  margin: 0 auto;
}

h1 {
  font-family: "naruto";
  font-size: 24px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  padding-top: 20px;
}

h1::after {
  content: "";
  display: block;
  height: 3px;
  width: 206px;
  background: #ff8800;
  margin: 5px auto;
}

h2 {
  font-family: "naruto";
  color: #fff;
  letter-spacing: 00.1em;
  font-size: 20px;
}

.container {
  width: 780px;
  margin: 0 auto;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #000;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff8800;
}

/* header */
.header {
  width: 100%;
  padding: 15px 0;
}

.home {
  width: 100%;
  min-height: 950px;
  background: url(../img/fundo.svg) no-repeat center;

  background-size: cover;
}

.menu {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 0px 90px;
}

.menu ul li {
  display: inline-block;
  margin-left: 90px;
}

.menu p {
  font-family: "naruto";
  color: #ff8800;
  font-size: 80px;
}

.menu ul li a {
  color: #fff;
  font-family: "naruto";
  font-size: 20px;
  text-decoration: none;
}

/* historia */
.historia {
  padding: 90px 8px;
  margin-top: 75px;
}

.historia p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  text-align: center;
}

/* personagens */

.personagens-box > .naruto,
.sakura,
.sasuke {
  display: flex;
  align-items: center;
  gap: 250px;
}

.personagens-box p {
  color: #fff;
  width: 600px;
  line-height: 27px;
  text-align: center;
}

.personagens-box img {
  margin: 227px 0 187px 477px;
}

/* kages */

.kages {
  height: 1024px;
  background-color: #ff8800;
}

.kages h1 {
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  padding-top: 21px;
}

.kages h1::after {
  content: "";
  display: block;
  height: 3px;
  width: 206px;
  background: #000;
  margin: 5px auto;
}

.kages p {
  width: 305px;
  color: #fff;
}

.linha-1 {
  display: flex;
  justify-content: center;
}
.linha-2 {
  display: flex;
  justify-content: space-between;
  padding: 20px 460px;
}

.linha-1 > .hokage,
.mizukage,
.kazekage {
  display: inline-block;
  padding: 0 93px;
  text-align: center;
}

.linha-2 > .raikage,
.tsuchikage {
  display: inline-block;
  text-align: center;
}

/* elementos */

.elementos p {
  color: #fff;
  width: 325px;
}

.linha-1 > .fogo,
.agua,
.vento {
  display: inline-block;
  padding: 90px 93px;
  text-align: center;
}

.linha-2 > .raio,
.terra {
  display: inline-block;
  text-align: center;
}

/* footer */

footer {
  background-color: #fff;
  height: 130px;
  display: flex;
  justify-content: center;
}

footer p {
  color: #ff8800;
  font-family: "naruto";
  margin-top: 60px;
  font-size: 20px;
}
